RewriteEngine on
Options +FollowSymLinks

# Forward to non-www
RewriteCond %{HTTP_HOST} ^([a-zA-Z0-9]*)\.gumbeesgames\.com$ [NC]  
RewriteRule ^(.*)$ http://gumbeesgames.com/$1 [R=301,L]

# rewrite to index
RewriteRule ^([a-zA-Z]+)$ /index.php?cat=$1 [L]